body{
    background-color: rgba(137, 43, 226, 0.205);
}
#clockContainer {
	position: relative;
	margin: auto;
	height: 40vw;
	/*to make the height and width responsive*/
	width: 40vw;
	background: url(clock.png) no-repeat;
	/*setting our background image*/
	background-size: 100%;
    
}
.circle {
    content: '';
    position: absolute;
    top: 240px;
    left: 243px;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 10000;
   
}
#hour,
#minute,
#second {
	position: absolute;
	
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
    background: rgba(0, 0, 0, 0.527);
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
    background: rgba(0, 0, 0, 0.589);
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
    background: rgba(255, 0, 0, 0.658) !important;
	width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
}
