@media only screen and (max-width: 991px){
	.top-header{
		display: none;
	}
	header{
		text-align: center;
	}
	.table {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
	}
	.slick-prev, .slick-next{
		display: none !important;
	}
	.table a{
	    display: none;
	}
	.hightlight-section .carousel-indicators li{
		display: none;
	}
	.hightlight-section .carousel-control-next,.hightlight-section .carousel-control-prev{
	    display: flex;
	}
	table tr th:last-child {
	    display: none;
	}
	h2{
		font-size: 30px;
	}
}
@media only screen and (max-width: 767px){
	img{
		margin: 0 auto;
		display: block;
	}
	.button{
		text-align: center;
		margin-bottom: 20px;
	}
	.banner-text{
	    bottom: 14%;	    
	    font-size: 30px;
	    width: 100%;
	    text-align: center;
	    left: 0;
	}
	.banner-text br{
		display: none;
	}
	.contact-form-foot{
		margin-top: 40px;
	}
	.bottom-footer{
		padding: 0 0 50px;
	}
}
@media only screen and (max-width: 411px){
	.banner-text{
		/*bottom: 45%;	    */
	    font-size: 20px;
	    left: 0
	}
}
@media only screen and (max-width: 360px){
	.floor-section .overlay_print{
		width: auto;
		left: 0;
	}
	.banner-text{
		/*bottom: 45%;	    */
	    font-size: 15px;
	}
}