@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
body {
    font-family: 'Roboto', sans-serif;   
}
h1 {
    font-family: 'Inspiration', cursive;
    font-weight: 900;
    text-transform: uppercase;
}
.form-wrap {
    background-color: #8080803b;
    width: 800px;
    padding: 15px;
}
input {
    width: 100%;
    margin-bottom: 20px;
    height: 34px;
    background: #fff;
    border: 1px solid #bdb7b7;
    border-radius: 5px;
    margin-top: 5px;
}
.btn-submit {
    background-color:green;
    font-size: 20px;
    color: #fff;
    height: 50px;
}